PORT=8080
DB="host=localhost user=postgres password=password dbname=gully_backend port=5432 sslmode=disable"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/auth/google/callback
SESSION_SECRET=

FRONTEND_URL=http://localhost:3000

SQL_AGENT_URL=http://localhost:8000