PORT=8080
DB="host=localhost user=postgres password=password dbname=gully_backend port=5432 sslmode=disable"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET==http://localhost:8080/auth/google/callback
GOOGLE_REDIRECT_URL=http://localhost:8080
SESSION_SECRET=